.Rproj.user
.Rhistory
.RData
.Ruserdata
public/
Rubbish/
blogdown/

.DS_Store
Thumbs.db

PersonalSettings.R
*/Worskpace.RData
*/Data/
*/*/Data/
*/*/*/Data/
*/*/*/*/Data/

!/layouts/shortcodes/blogdown/